/* You can add global styles to this file, and also import other style files */
h1
    color: white

.centrado
    display: flex
    align-items: center
    justify-content: center
    height: 100vh

.container
    background: darkgreen