/* You can add global styles to this file, and also import other style files */
.conversor
    background: white
    border: 1px solid black
    margin-top: 20px
    p
        background-color: lightgrey

    input, button
        margin-bottom: 10px